body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	background-color: black;
	color:white;
	word-wrap:break-word;
}

h1 {
	text-align:center;
	text-decoration:none;
}

.center-div {
	margin: auto;
	padding: 10px;
}

.center-text {
	text-align:center;
}

a {
	color:lightblue;
}

footer {
	margin:auto;
	display:block;
	word-wrap:break-word;
}

.nav{
	margin: 0;
	padding: 0;
	max-width: 100%;
	padding:2ex;
	height:10ex;
}

.nav-item, .nav-item-right {
	display:inline;
	float:left;
	padding-left:3ex;
	padding-right:3ex;
	padding-top:2ex;
	padding-bottom:2ex;
	list-style-type: none;
	margin-right:10px;
	margin-left:10px;
	color:white;
	font-size:22px;
	
}
.nav-item-right {
	float:right;
}

.nav-item:hover, .nav-item-right:hover{
	background-color:white;
	color:black;
}

.content {
	max-width: 95%;
	max-width:1200px;
	margin: auto;
}

.fact {
	margin:2ex;
	padding:5ex;
}
