body {
  background-color: black;
  color:white;
}

.content {
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align:center;
}
.content {
  max-width: 800px;
  margin: auto;
  background-color: black;
}

img {
  margin: auto;
  display: block;
}

.fact {
  margin:2ex;
  padding:5ex;
  background-color:#f2f0ff;
}
